// pad横屏模式下的适应显示
body {
}

@media only screen and (max-width: 1024px) {
  .el-aside {
    width: 9rem;
  }
  .el-menu {
    width: 9.6rem;
    left: -0.6rem;
  }
  .display-panel {
  }
}

@media only screen and (min-width: 1025px) {
  .el-menu {
    width: 12rem;
  }
  .display-panel {
  }
}
